Debug/
Debug_Win32/
Debug_x64/
Debug_ARM/
Release/
Release_Win32/
Release_x64/
Release_ARM/
*.sdf
*.ncb
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
patches-*
*.target.mk
ipch
debug.txt
*.opensdf
*.orig
*.rej
.gclient_entries
/third_party
/tests/third_party/googlemock
/tests/third_party/googletest
/tests/third_party/libpng
/tests/third_party/zlib
/tests/third_party/deqp
/tests/third_party/gles_conformance_tests
out
lib/*
Makefile
*.Makefile
*~
.gclient
angle_internal
