Debug
Debug_Win32
Debug_x64
Release
Release_Win32
Release_x64
*.sdf
*.ncb
*.suo
src/*.sln
src/*.vcxproj
src/*.vcxproj.filters
samples/*.sln
samples/*.vcxproj
samples/*.vcxproj.filters
tests/*.sln
tests/*.vcxproj
tests/*.vcxproj.filters
build/*.sln
build/*.vcxproj
build/*.vcxproj.filters
util/*.sln
util/*.vcxproj
util/*.vcxproj.filters
*.vcxproj.user
patches-*
*.target.mk
ipch
debug.txt
*.opensdf
*.orig
*.rej
.gclient_entries
/third_party
tests/third_party
out
lib/*
Makefile
*.Makefile
*~
.gclient
angle_internal
