Debug
Release
ANGLE.ncb
ANGLE.suo
Compiler/Compiler.vcproj.*
Compiler/Gen_glslang.cpp
Compiler/Gen_glslang_tab.cpp
Compiler/glslang.output
Compiler/glslang_tab.h
Compiler/Debug
Compiler/Release
libEGL/Debug
libEGL/Release
libEGL/libEGL.vcproj.*
libGLESv2/Debug
libGLESv2/Release
libGLESv2/libGLESv2.vcproj.*

