<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2018 The Chromium Authors. All rights reserved.  Use of this
  source code is governed by a BSD-style license that can be found in the
  LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.android.angle">
    <uses-sdk android:minSdkVersion="26"
              android:targetSdkVersion="28">
    </uses-sdk>

    <application android:label="Android System Angle"
        android:extractNativeLibs="false"
        android:multiArch="true"
        android:hasCode="false">
    </application>
</manifest>
