angry_birds_2_1500.tar.gz
angry_birds_2_1500/
candy_crush_500.tar.gz
candy_crush_500/
cod_mobile.tar.gz
cod_mobile/
egypt_1500.tar.gz
egypt_1500/
manhattan_10.tar.gz
manhattan_10/
mobile_legends.tar.gz
mobile_legends/
nba2k20_800.tar.gz
nba2k20_800/
subway_surfer_500.tar.gz
subway_surfer_500/
temple_run_300.tar.gz
temple_run_300/
trex_200.tar.gz
trex_200/